*{
    padding: 0;
    margin: 0;
}
.container{
    padding: 10px;
}

header{
    background-color: #2fda20;
}
.header-title{
    color: #ffff;
}
.card{
    width: 60%;
    margin: auto;
   border: 1px solid #000;
   border-radius: 14px;
    padding: 2rem;
}
.card .title{
    font-size: 22px;
    color: #444;
    padding: 10px 0;
}
.card .form .input-txt{
    border: none;
    border: 1px solid #444;
    padding: 4px 10px;
    border-radius: 4px;
}
.card .form .input-txt:focus{
    outline: none;
}
.card .form .input-submit{
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #2fda20;
    color: #ffff;

}
#list ul{
    list-style-type: none;
    margin-left: 10px;
}
#list ul li{
    background-color: #2fda20;
    width: fit-content;
    padding: 3px 20px;
    color: #ffff;
    border-radius: 4px;
    margin: 5px 0;
}